<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880956956947-ut05njvl6pug7cgrtvln8rni4fovk8t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880956956947-ut05njvl6pug7cgrtvln8rni4fovk8t0</string>
	<key>API_KEY</key>
	<string>AIzaSyCVDkiuK4HcjJuLeqat_oFmt7ylQwD1iko</string>
	<key>GCM_SENDER_ID</key>
	<string>880956956947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HealthDelivery.HealthDelivery</string>
	<key>PROJECT_ID</key>
	<string>halthdelivery</string>
	<key>STORAGE_BUCKET</key>
	<string>halthdelivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880956956947:ios:b327b7ee2254fbcb</string>
	<key>DATABASE_URL</key>
	<string>https://halthdelivery.firebaseio.com</string>
</dict>
</plist>